.container {
  max-width: 900px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.alert-secondary, .alert-success, .alert-primary {
  padding: 20px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
}

.alert-secondary {
  flex: 1;
  margin-right: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

td:last-child {
  text-align: center;
}

.btn-circle {
  border-radius: 50%;
  padding: 10px;
  font-size: 16px;
  color: white;
  border: none;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-increase {
  background-color: #4CAF50; /* Green */
}

.button-decrease {
  background-color: #F44336; /* Red */
}

.currency-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.currency-box {
  background-color: #95c897; /* Light green background */
  padding: 10px;
  border-radius: 5px;
  position: relative; /* Added to position the dropdown */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 250px;
  color: white;
}

.currency-box select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; /* Make the select box invisible */
  cursor: pointer;
}

.currency-dropdown {
  background-color: #95c897; /* Light green background */
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

.currency-dropdown option {
  background-color: white;
  color: black;
  padding: 10px;
}

.rectangle-box {
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  display: inline-block;
  min-width: 200px; /* Adjust width as needed */
}

.budget-box {
  background-color: #dcd9d948;
  text-align: center;
  display: flex;
  min-width: 200px;
}

.remaining-box {
  background-color: #dff0d8;
  display: flex;
}

.spent-box {
  background-color: #d9edf7;
  display: flex;
}

.small-input-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.small-input-group button {
  width: 30px;
  height: 30px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background-color: #f1f1f1;
  border-radius: 50%;
  margin: 0 5px;
}

.small-input-group input {
  width: 50px; 
  height: 30px;
  text-align: center;
  font-size: 16px;
  padding: 0;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}